<div class="content-wrapper">
	<div id="icon-nav" class="visible-xs">
		<span></span> <span></span> <span></span>
	</div>
	<div class="menu-home-logo float-left">
		<p class="site-title">
			<a href="/th/home" class="icon-core link-home"> </a>
		</p>
	</div>
	<div class="menu-home-list float-right open" style="display: none;">
		<ul id="menu-header" class="mobile">
			<li class="menu-header-list menu-home menu-select">
				<a href="/th/home" class="menu-header-list-link" data-text="หน้าหลัก">
					<span class="link-text">หน้าหลัก</span>
				</a>
			</li>
			<li id="menu-why-us" class="menu-header-list has-sub-menu ">
				<a
					href="javascript:void(0)"
					class="menu-header-list-link no-link"
					data-text="รู้จัก UOBAM"
				>
					<span class="link-text">รู้จัก UOBAM</span>
				</a>
				<ul
					id="menu-why-child-level1"
					class="menu-header-child-level1-panel"
					data-height="242"
				>
					<li class="hide-mobile arrow-head-menu m1"><div></div></li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/about-us/company-profile"
							class="menu-header-list-level1-link "
							data-text="ข้อมูลบริษัท"
						>
							<span class="link-level1-text">ข้อมูลบริษัท</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/about-us/vision-mission"
							class="menu-header-list-level1-link"
							data-text="วิสัยทัศน์ / พันธกิจ"
						>
							<span class="link-level1-text">วิสัยทัศน์ / พันธกิจ</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/about-us/board-of-director"
							class="menu-header-list-level1-link"
							data-text="คณะกรรมการบริษัท"
						>
							<span class="link-level1-text">คณะกรรมการบริษัท</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/about-us/management-team"
							class="menu-header-list-level1-link"
							data-text="ทีมผู้บริหาร"
						>
							<span class="link-level1-text">ทีมผู้บริหาร</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/about-us/awards"
							class="menu-header-list-level1-link"
							data-text="รางวัลและความสำเร็จ"
						>
							<span class="link-level1-text">รางวัลและความสำเร็จ</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/about-us/policy"
							class="menu-header-list-level1-link"
							data-text="นโยบาย"
						>
							<span class="link-level1-text">นโยบาย</span>
						</a>
					</li>
				</ul>
			</li>
			<li id="menu-mutual-fund" class="menu-header-list has-sub-menu  ">
				<a
					href="javascript:void(0)"
					class="menu-header-list-link no-link"
					data-text="กองทุนรวม"
				>
					<span class="link-text">กองทุนรวม</span>
				</a>
				<ul
					id="menu-mutual-fund-child-level1"
					class="menu-header-child-level1-panel"
					data-height="200"
				>
					<li class="hide-mobile arrow-head-menu m2"><div></div></li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/mutual-fund"
							class="menu-header-list-level1-link"
							data-text="กองทุนรวมคืออะไร"
						>
							<span class="link-level1-text">กองทุนรวมคืออะไร</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list has-child-level2">
						<a
							href="/th/fund-type"
							class="menu-header-list-level1-link"
							data-text="ข้อมูลกองทุนรวม"
						>
							<span class="link-level1-text">ข้อมูลกองทุนรวม</span>
						</a>
						<ul
							id="menu-mutual-fund-child-level2"
							class="menu-header-child-level2-panel right"
							data-height="320"
						>
							<li class="menu-header-child-level2-list">
								<a
									href="/th/fund-type/8/money-market"
									class="menu-header-list-level2-link"
									data-text="กองทุนรวมตลาดเงิน"
								>
									<span class="link-level2-text">กองทุนรวมตลาดเงิน</span>
								</a>
							</li>

							<li class="menu-header-child-level2-list">
								<a
									href="/th/fund-type/1/fixed-income"
									class="menu-header-list-level2-link"
									data-text="กองทุนรวมตราสารหนี้"
								>
									<span class="link-level2-text">กองทุนรวมตราสารหนี้</span>
								</a>
							</li>

							<li class="menu-header-child-level2-list">
								<a
									href="/th/fund-type/4/mixed"
									class="menu-header-list-level2-link"
									data-text="กองทุนรวมผสม"
								>
									<span class="link-level2-text">กองทุนรวมผสม</span>
								</a>
							</li>

							<li class="menu-header-child-level2-list">
								<a
									href="/th/fund-type/2/equity"
									class="menu-header-list-level2-link"
									data-text="กองทุนรวมหุ้น"
								>
									<span class="link-level2-text">กองทุนรวมหุ้น</span>
								</a>
							</li>
							<li class="menu-header-child-level2-list">
								<a
									href="/th/fund-type/5/long-term-equity"
									class="menu-header-list-level2-link"
									data-text="กองทุนรวมหุ้นระยะยาว"
								>
									<span class="link-level2-text">กองทุนรวมหุ้นระยะยาว</span>
								</a>
							</li>
							<li class="menu-header-child-level2-list">
								<a
									href="/th/fund-type/6/retirement"
									class="menu-header-list-level2-link"
									data-text="กองทุนรวมเพื่อการเลี้ยงชีพ"
								>
									<span class="link-level2-text"
										>กองทุนรวมเพื่อการเลี้ยงชีพ</span
									>
								</a>
							</li>
							<li class="menu-header-child-level2-list">
								<a
									href="/th/fund-type/3/foreign-investment"
									class="menu-header-list-level2-link"
									data-text="กองทุนรวมต่างประเทศ"
								>
									<span class="link-level2-text">กองทุนรวมต่างประเทศ</span>
								</a>
							</li>
							<li class="menu-header-child-level2-list">
								<a
									href="/th/fund-type/7/property"
									class="menu-header-list-level2-link"
									data-text="กองทุนรวมอสังหาฯ"
								>
									<span class="link-level2-text">กองทุนรวมอสังหาริมทรัพย์</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="menu-header-child-level1-list has-child-level2">
						<a
							class="menu-header-list-level1-link"
							data-text="มูลค่าหน่วยลงทุน"
						>
							<span class="link-level1-text">มูลค่าหน่วยลงทุน</span>
						</a>
						<ul
							id="menu-nav-child-level2"
							class="menu-header-child-level2-panel right"
							data-height="80"
						>
							<li class="menu-header-child-level2-list">
								<a
									href="/th/price/list"
									class="menu-header-list-level2-link"
									data-text="มูลค่าหน่วยลงทุน"
								>
									<span class="link-level2-text">มูลค่าหน่วยลงทุน</span>
								</a>
							</li>
							<li class="menu-header-child-level2-list">
								<a
									href="/th/price/previous"
									class="menu-header-list-level2-link"
									data-text="มูลค่าหน่วยลงทุนย้อนหลัง"
								>
									<span class="link-level2-text">มูลค่าหน่วยลงทุนย้อนหลัง</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/mutual-fund/performance"
							class="menu-header-list-level1-link"
							data-text="ผลการดำเนินงาน"
						>
							<span class="link-level1-text">ผลการดำเนินงาน</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list has-child-level2">
						<a
							href="javascript:void(0)"
							class="menu-header-list-level1-link"
							data-text="สิทธิประโยชน์ทางภาษี"
						>
							<span class="link-level1-text">สิทธิประโยชน์ทางภาษี</span>
						</a>
						<ul
							id="menu-tax-child-level2"
							class="menu-header-child-level2-panel right"
							data-height="80"
						>
							<li class="menu-header-child-level2-list">
								<a
									href="/th/tax-benefit/ltf"
									class="menu-header-list-level2-link"
									data-text="กองทุนรวมหุ้นระยะยาว"
								>
									<span class="link-level2-text">กองทุนรวมหุ้นระยะยาว</span>
								</a>
							</li>
							<li class="menu-header-child-level2-list">
								<a
									href="/th/tax-benefit/rmf"
									class="menu-header-list-level2-link"
									data-text="กองทุนรวมเพื่อการเลี้ยงชีพ"
								>
									<span class="link-level2-text"
										>กองทุนรวมเพื่อการเลี้ยงชีพ</span
									>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li id="menu-provident-fund" class="menu-header-list has-sub-menu">
				<a
					href="/th/provident-fund"
					class="menu-header-list-link"
					data-text="กองทุนสำรองเลี้ยงชีพ"
				>
					<span class="link-text">กองทุนสำรองเลี้ยงชีพ</span>
				</a>
				<ul
					id="menu-why-child-level1"
					class="menu-header-child-level1-panel"
					data-height="320"
				>
					<li class="hide-mobile arrow-head-menu m1"><div></div></li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/provident-fund/1"
							class="menu-header-list-level1-link "
							data-text="ความรู้เบื้องต้น"
						>
							<span class="link-level1-text">ความรู้เบื้องต้น</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/provident-fund/3"
							class="menu-header-list-level1-link"
							data-text="การให้บริการ"
						>
							<span class="link-level1-text">การให้บริการ</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/provident-fund/2"
							class="menu-header-list-level1-link"
							data-text="ข้อมูลผลิตภัณฑ์"
						>
							<span class="link-level1-text">ข้อมูลผลิตภัณฑ์</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/provident-fund/4"
							class="menu-header-list-level1-link"
							data-text="จุดเด่น บลจ. ยูโอบี"
						>
							<span class="link-level1-text">จุดเด่น บลจ. ยูโอบี</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/provident-fund/6"
							class="menu-header-list-level1-link"
							data-text="แบบประเมินความเสี่ยง"
						>
							<span class="link-level1-text">แบบประเมินความเสี่ยง</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/provident-fund/5"
							class="menu-header-list-level1-link"
							data-text="ดาวน์โหลดแบบฟอร์ม"
						>
							<span class="link-level1-text">ดาวน์โหลดแบบฟอร์ม</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="http://www.set.or.th/education/th/online_classroom/tool.html"
							target="_blank"
							class="menu-header-list-level1-link"
							data-text="โปรแกรมคำนวณ"
						>
							<span class="link-level1-text">โปรแกรมคำนวณ</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/provident-fund/8"
							class="menu-header-list-level1-link"
							data-text="ติดต่อ"
						>
							<span class="link-level1-text">ติดต่อ</span>
						</a>
					</li>
				</ul>
			</li>
			<li id="menu-private-fund" class="menu-header-list">
				<a
					href="/th/private-fund"
					class="menu-header-list-link"
					data-text="กองทุนส่วนบุคคล"
				>
					<span class="link-text">กองทุนส่วนบุคคล</span>
				</a>
			</li>
			<li id="menu-channel" class="menu-header-list has-sub-menu">
				<a
					href="javascript:void(0);"
					class="menu-header-list-link no-link"
					data-text="ช่องทางบริการ"
				>
					<span class="link-text">ช่องทางบริการ</span>
				</a>
				<ul
					id="menu-channel-fund-child-level1"
					class="menu-header-child-level1-panel show-left-menu"
					data-height="200"
				>
					<li class="hide-mobile arrow-head-menu m3"><div></div></li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/Channel/OpenAccount"
							class="menu-header-list-level1-link"
							data-text="เปิดบัญชีกองทุนรวม"
						>
							<span class="link-level1-text">เปิดบัญชีกองทุนรวม</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/Channel/OnlineService"
							class="menu-header-list-level1-link"
							data-text="บริการออนไลน์"
						>
							<span class="link-level1-text">บริการออนไลน์</span>
						</a>
					</li>

					<li class="menu-header-child-level1-list">
						<a
							href="/th/Channel/SellingAgent"
							class="menu-header-list-level1-link"
							data-text="ผู้สนับสนุนการขายหรือรับซื้อคืนหน่วยลงทุน"
						>
							<span class="link-level1-text"
								>ผู้สนับสนุนการขายหรือรับซื้อคืนหน่วยลงทุน</span
							>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/Channel/PortfolioRecommend"
							class="menu-header-list-level1-link"
							data-text="จัดพอร์ตการลงทุน"
						>
							<span class="link-level1-text">จัดพอร์ตการลงทุน</span>
						</a>
					</li>
				</ul>
			</li>
			<li id="menu-service" class="menu-header-list has-sub-menu">
				<a
					href="javascript:void(0);"
					class="menu-header-list-link no-link"
					data-text="บริการเพื่อนักลงทุน"
				>
					<span class="link-text">บริการเพื่อนักลงทุน</span>
				</a>
				<ul
					id="menu-channel-fund-child-level1"
					class="menu-header-child-level1-panel"
					data-height="160"
				>
					<li class="hide-mobile arrow-head-menu m3"><div></div></li>
					<li class="menu-header-child-level1-list">
						<a href="/th/download" class="menu-header-list-level1-link">
							<span class="link-level1-text">แบบฟอร์ม</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/service/fif-calendar"
							class="menu-header-list-level1-link"
						>
							<span class="link-level1-text">ปฏิทินซื้อขายกองทุน</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a href="/th/suitability" class="menu-header-list-level1-link">
							<span class="link-level1-text">ประเมินความเสี่ยงผู้ลงทุน</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a href="/th/tax-calculation" class="menu-header-list-level1-link">
							<span class="link-level1-text">คำนวณภาษี</span>
						</a>
					</li>
				</ul>
			</li>
			<li id="menu-contact-us" class="menu-header-list has-sub-menu">
				<a
					href="javascript:void(0)"
					class="menu-header-list-link no-link"
					data-text="ติดต่อเรา"
				>
					<span class="link-text">ติดต่อเรา</span>
				</a>
				<ul
					id="menu-contact-child-level1"
					class="menu-header-child-level1-panel"
					data-height="80"
				>
					<li class="hide-mobile arrow-head-menu m1"><div></div></li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/contact"
							class="menu-header-list-level1-link"
							data-text="ติดต่อเรา"
						>
							<span class="link-level1-text">ติดต่อเรา</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="/th/career"
							class="menu-header-list-level1-link"
							data-text="ร่วมงานกับเรา"
						>
							<span class="link-level1-text">ร่วมงานกับเรา</span>
						</a>
					</li>
				</ul>
			</li>
			<li
				id="menu-online-service"
				class="menu-header-list has-sub-menu visible-xs"
			>
				<a
					href="javascript:void(0)"
					class="menu-header-list-link"
					data-text="บริการออนไลน์"
				>
					<span class="link-text">บริการออนไลน์</span>
				</a>
				<ul
					id="menu-online-service-child-level1"
					class="menu-header-child-level1-panel"
					data-height="120"
				>
					<li class="hide-mobile arrow-head-menu"><div></div></li>
					<li class="menu-header-child-level1-list">
						<a
							href="https://echannel.uobam.co.th/fundcyber"
							class="menu-header-list-level1-link"
							data-text="กองทุนรวม"
						>
							<span class="link-level1-text">กองทุนรวม</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="https://echannel.uobam.co.th/provident"
							class="menu-header-list-level1-link"
							data-text="กองทุนสำรองเลี้ยงชีพ"
						>
							<span class="link-level1-text">กองทุนสำรองเลี้ยงชีพ</span>
						</a>
					</li>
					<li class="menu-header-child-level1-list">
						<a
							href="https://online.uobam.co.th/private"
							class="menu-header-list-level1-link"
							data-text="กองทุนส่วนบุคคล"
						>
							<span class="link-level1-text">กองทุนส่วนบุคคล</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="menu-header-list visible-xs">
				<a
					href="http://www.uobam.co.th/ad/QISQ22016.mp4"
					class="menu-header-list-link"
					data-text="QUARTERLY STRATEGY"
				>
					<span class="link-text">กลยุทธ์การลงทุนรายไตรมาส</span>
				</a>
			</li>

			<li class="menu-header-list visible-xs">
				<a
					href="/th/annualreport/1"
					class="menu-header-list-link"
					data-text="ANNUAL REPORT"
				>
					<span class="link-text">รายงานประจำปี</span>
				</a>
			</li>
			<li class="menu-header-list visible-xs">
				<a
					href="/th/research"
					class="menu-header-list-link"
					data-text="RESEARCH"
				>
					<span class="link-text">บทวิเคราะห์</span>
				</a>
			</li>
			<li class="menu-header-list visible-xs">
				<a
					href="/th/announcement"
					class="menu-header-list-link"
					data-text="ANNOUNCEMENT"
				>
					<span class="link-text">ประกาศเพื่อนักลงทุน</span>
				</a>
			</li>
			<li class="menu-header-list visible-xs">
				<a
					href="/th/activities"
					class="menu-header-list-link"
					data-text="ACTIVITY"
				>
					<span class="link-text">กิจกรรม</span>
				</a>
			</li>
			<li class="menu-header-list visible-xs">
				<a
					href="/th/publication"
					class="menu-header-list-link"
					data-text="UPCOMING"
				>
					<span class="link-text">ข่าวประชาสัมพันธ์</span>
				</a>
			</li>
			<li class="menu-header-list visible-xs">
				<a href="/th/report" class="menu-header-list-link" data-text="REPORT">
					<span class="link-text">รายงาน</span>
				</a>
			</li>
		</ul>
	</div>
	<li id="menu-search-lang" class="menu-header-list menu-header-search-lang">
		<span class="box-search-lang">
			<span id="box-search" class="icon-core box-search"></span>
			<span class="box-line"></span>

			<a href="https://www.uobam.co.th/en/home" class="box-lang f_b f_thai"
				>EN</a
			>
		</span>
	</li>
	<span id="form-search-panel">
		<form method="post" action="/th/search">
			<input
				name="__RequestVerificationToken"
				type="hidden"
				value="86U1ng9MQNs1FalLwOb4rkeG_HSWPGsXiIWVFu6Lm5C2-Dz_b7kFkEZynrY8OU_Yz9vGByqbqQcj-f0J2U-ml4xsU5rXIRrHCFAX8LvUIrY1"
			/>
			<label
				class="label-placeholder"
				for=""
				style="display: block; position: absolute; padding-left: 12px; padding-top: 8px;"
				>พิมพ์คำที่ต้องการค้นหา</label
			><input
				type="text"
				id="search-header"
				name="q"
				class="f_b"
				placeholder=""
				autocomplete="off"
			/>
			<button type="submit" id="icon-search-submit"></button>
		</form>
		<span id="icon-search-close">
			<span class="close-left"></span> <span class="close-right"></span>
		</span>
		<aside id="suggest-box">
			<section id="suggest-box-inner">
				<h3 id="suggest-title" class="f_med">คำค้นหาแนะนำสำหรับคุณ</h3>
				<ul id="suggest-list-panel"></ul>
			</section>
		</aside>
	</span>
</div>
