<div class="bg">
	<div class="container">
		<div class="text">
			<p>ข้อมูลการดำเนินงานในอดีต</p>
			<p>และรายละเอียดกองทุน</p>
		</div>
		<div class="button-wrapper">
			<div class="button-wrapper-row">
				<a
					href="https://www.uobam.co.th/th/mutual-fund/00052/UOBLTF"
					class="uob-button top"
					>UOBLTF</a
				>
				<a
					href="https://www.uobam.co.th/th/mutual-fund/90034/CG-LTF"
					class="uob-button top"
					>CG-LTF</a
				>
			</div>
			<a
				href="https://www.uobam.co.th/srcm/tax_benefit/mkl91h221/1h/22/o0x0/%E0%B8%84%E0%B8%B9%E0%B9%88%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%A5%E0%B8%87%E0%B8%97%E0%B8%B8%E0%B8%99-LTF-AIMC--Jan-2017.pdf"
				class="uob-button bottom thai"
				>คู่มือการลงทุน LTF</a
			>
		</div>
	</div>
</div>
