<div class="bg">
	<div class="container">
		<img src="/images/assets/Asset 15-crop.png" alt="uobam" />
		<div class="right">
			<div class="leftover">
				<div class="top">
					<div class="title">
						<div class="line"></div>
						<div class="text">
							<h2>UOBLTF</h2>
							<p>กองทุนเปิด ยูโอบี หุ้นระยะยาว</p>
						</div>
					</div>
					<div class="uob-risk">
						<div class="risk-inner">
							<p>ระดับความเสี่ยง</p>
							<h2>6</h2>
						</div>
					</div>
				</div>

				<div class="bottom">
					<p>กองทุนดาวรุ่ง มองการณ์ไกล</p>
					<p>ลงทุนในธุรกิจที่หลากหลายและเติบโต</p>
				</div>
			</div>

			<div class="detail">
				การลงทุนใน LTF จะต้องถือหน่วยลงทุน 7 ปี ดังนั้น
				ความเชี่ยวชาญของผู้จัดการกองทุนย่อมเป็นสิ่งสำคัญ
				ด้วยประสบการณ์และความมุ่งมั่นของผู้จัดการกองทุนตามแบบฉบับของ บลจ.ยูโอบี
				ที่คัดเลือกจากหุ้นที่มีศักยภาพมากกว่า 600 บริษัท จากทั่วทั้งตลาด
				สามารถสร้างผลตอบแทนที่ดี ให้ผู้ถือหน่วยลงทุน
				ด้วยผลตอบแทนย้อนหลังที่ยอดเยี่ยมและต่อเนื่องได้รับการจัดอันดับว่าเป็นกองทุน
				LTF ระดับ 5 ดาวโดย Morningstar Thailand
				ทำให้นักลงทุนมั่นใจได้ว่าเงินของท่านจะมีโอกาสงอกเลยในอนาคต
			</div>
		</div>
	</div>
</div>
