<div class="bg">
	<img src="/images/assets/Asset 23-crop.png" alt="uobam" />
	<div class="wrapper">
		<div class="container">
			<div class="detail-list">
				<div class="detail-box">
					<div class="img">
						<img src="/images/assets/Asset 27.png" alt="prize" />
					</div>
					<div class="text">
						<div class="name">มีธรรมาภิบาล โปร่งใส ตรวจสอบได้</div>
					</div>
				</div>
				<div class="detail-box">
					<div class="img">
						<img src="/images/assets/Asset 25.png" alt="prize" />
					</div>
					<div class="text">
						<div class="name">ผลตอบแทนชนะ Benchmark</div>
						<div class="detail">
							*ณ สิ้นเดือนตุลาคม 2561 ข้อมูลจาก Morning Star
						</div>
					</div>
				</div>
				<div class="detail-box">
					<div class="img">
						<img src="/images/assets/Asset 28.png" alt="prize" />
					</div>
					<div class="text">
						<div class="name">
							กองทุนบรรษัทภิบาล กองทุนแรกของไทย ที่ผลงานย้อนหลังดีที่สุด
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="more" href="#">
			อ่านเพิ่มเติม <i class="fa fa-angle-right" aria-hidden="true"></i>
		</a>
	</div>
</div>
