<div class="bg">
	<img
		src="/images/assets/Asset 23-crop.png"
		alt="uobam"
		class="background-img"
	/>
	<div class="wrapper">
		<div class="container">
			<div class="detail-list">
				<div class="detail-box">
					<div class="img">
						<img src="/images/assets/Asset 24.png" alt="prize" />
					</div>
					<div class="text">
						<div class="name">ลงทุนในหุ้นที่มีแนวโน้มเติบโตสูงในอนาคต</div>
					</div>
				</div>
				<div class="detail-box">
					<div class="img">
						<img src="/images/assets/Asset 25.png" alt="prize" />
					</div>
					<div class="text">
						<div class="name">ผลตอบแทนชนะ Benchmark ได้ Morningstar 5 ดาว</div>
						<div class="detail">*กองทุน UOBLTF ณ วันที่ 31 ต.ค. 61</div>
					</div>
				</div>
				<div class="detail-box">
					<div class="img">
						<img src="/images/assets/Asset 26.png" alt="prize" />
					</div>
					<div class="text">
						<div class="name">
							บริหารโดยทีมผู้จัดการกองทุนที่สร้างผลตอบแทนย้อนหลังยอดเยี่ยมต่อเนื่อง
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="more" href="https://www.uobam.co.th/th/mutual-fund/00052/UOBLTF">
			ศึกษารายละเอียดกองทุนและ<br />
			ผลตอบแทนย้อนหลังเพิ่มเติม
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</a>
	</div>
</div>
