<div class="bg">
	<div class="container">
		<div class="left">
			<div class="rightover">
				<div class="top">
					<div class="title animated-fadeInRight">
						<div class="line"></div>
						<div class="text">
							<h2>CG-LTF</h2>
							<p>กลุ่มกองทุน ธรรมาภิบาล หุ้นระยะยาว</p>
						</div>
					</div>
					<div class="uob-risk animated-fadeIn">
						<div class="risk-inner">
							<p>ระดับความเสี่ยง</p>
							<h2>6</h2>
						</div>
					</div>
				</div>

				<div class="bottom animated-fadeInRight">
					<p>กองทุนที่เลือกลงทุนในหุ้นคุณภาพ</p>
					<p>อุ่นใจได้ทั้งด้านธรรมาภิบาล และการบริหาร</p>
				</div>
			</div>

			<div class="detail animated-fadeInRight">
				ถ้าพูดถึงเรื่องการลงทุนในหุ้น นักลงทุนอาจมีความชอบแตกต่างกัน
				บางคนชอบบริษัทขนาดใหญ่มีชื่อเสียง หรือบริษัทขนาดกลางที่กำลังเติบโต
				หรือบริษัทที่จ่ายเงินปันผลดี แต่ยังมีอีกทางเลือกของการลงทุน นั่นก็คือ
				<span>"บริษัทที่มีธรรมาภิบาลที่ดี"</span> บริษัทที่มี CG หรือ
				มีการกำกับดูแลกิจการที่ดี มีความโปร่งใส ตรวจสอบได้ <br /><br />
				บลจ. ยูโอบี เห็นถึงบทบาทความสำคัญของ CG ก่อนใคร
				ได้จัดตั้งกองทุนที่เน้นคัดเลือกเฉพาะบริษัทที่ได้รับการประเมินว่ามี CG
				อยู่ในระดับที่ดี ตั้งแต่ปี 2547
				โดยถือเป็นเจ้าแรกในตลาดที่ริเริ่มการลงทุน
				ทำให้มีความเชี่ยวชาญในการลงทุนในหุ้นกลุ่มนี้
			</div>
		</div>
		<div
			class="my-paroller desktop"
			data-paroller-factor="-0.1"
			data-paroller-type="foreground"
			data-paroller-direction="vertical"
		>
			<img
				src="/images/assets/Asset 19-crop.png"
				alt="uobam"
				class="animated-fadeIn"
			/>
		</div>
		<img
			src="/images/assets/Asset 19-crop.png"
			alt="uobam"
			class="animated-fadeIn mobile"
		/>
	</div>
</div>
<script src="/js/parallax.js"></script>
