<div class="bg">
	<div class="bg-overlay"></div>
	<div class="container">
		<div class="welcome-wrapper">
			<div class="welcome">
				<div class="left">
					<div class="text">
						<h1 class="animated fadeInDown">กองทุน LTF ที่ใช่</h1>
						<h2 class="animated fadeInDown">เลือกกองทุนคู่หูจาก UOBAM</h2>
						<p class="animated fadeInDown">
							การซื้อกองทุน LTF
							นอกเหนือจากผลประโยชน์ในเรื่องของการช่วยเพิ่มโอกาสในการออมเงินและสามารถลดหย่อนภาษีจากการซื้อกองทุนยังเรียกได้ว่าเป็นตัวช่วยให้คนหลายคนที่ไม่มีเวลาคอยวิเคราะห์
							หรือติดตามหุ้นแต่ละตัวด้วยตัวเอง
							สามารถที่จะเข้ามาลงทุนในตลาดหุ้นได้ง่ายขึ้น
						</p>
					</div>
				</div>
				<div class="right animated fadeInLeft">
					<div class="img open-video">
						<img src="/images/assets/video_shadow-crop.png" alt="video" />
						<div class="play">
							<i class="fa fa-play" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="prize">
			<h2>การันตีด้วยรางวัลจากสถาบันชั้นนำ</h2>
			<div class="prize-list">
				<div class="prize-box">
					<div class="img">
						<img src="/images/assets/Asset 14.png" alt="prize" />
					</div>
					<div class="text">
						<div class="name">OUTSTANDING ASSET MANAGEMENT COMPANY</div>
						<div class="detail">ตลาดหลักทรัพย์แห่งประเทศไทย 2011</div>
					</div>
				</div>
				<div class="prize-box">
					<div class="img">
						<img src="/images/assets/Asset 12.png" alt="prize" />
					</div>
					<div class="text">
						<div class="name">
							BEST OF THE BEST AWARDS MOST INNOVATIVE PRODUCT
						</div>
						<div class="detail small">
							นิตยสาร Asia Asset Management ประเทศฮ่องกง 2014
						</div>
					</div>
				</div>
				<div class="prize-box">
					<div class="img">
						<img src="/images/assets/Asset 13.png" alt="prize" />
					</div>
					<div class="text">
						<div class="name">WORLD FINANCE INVESTMENT MANAGEMENT AWARD</div>
						<div class="detail">นิตยสาร World Finance ประเทศอังกฤษ 2017</div>
					</div>
				</div>
				<div class="prize-box">
					<div class="img">
						<img src="/images/assets/Asset 11.png" alt="prize" />
					</div>
					<div class="text">
						<div class="name">MORNINGSTAR</div>
						<div class="detail">Morningstar Thailand 2018</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="myModal" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<iframe
			width="640"
			height="480"
			src="https://www.youtube.com/embed/Bhg45PNtsVs"
			frameborder="0"
			allowfullscreen=""
		>
		</iframe>
	</div>
</div>
<script src="/js/modal.js"></script>
