<div class="bg">
	<div class="overay"></div>
	<div class="container">
		<h2 class="animated-fadeInUp">บทความน่าสนใจ</h2>
		<div class="articles">
			<section id="slider">
				<input type="radio" name="slider" id="s1" value="1" disabled checked />
				<input type="radio" name="slider" id="s2" value="2" disabled />
				<input type="radio" name="slider" id="s3" value="3" disabled />
				<label for="s1" id="slide1" class="slide">
					<div
						class="image"
						style="background: url('../images/assets/Asset 31-crop.png');"
					></div>
					<div class="text">
						<h3></h3>
						<p></p>
						<a>
							อ่านเพิ่มเติม <i class="fa fa-angle-right" aria-hidden="true"></i>
						</a>
					</div>
				</label>
				<label for="s2" id="slide2" class="slide">
					<div class="image"></div>
					<div class="text">
						<h3></h3>
						<p></p>
						<a>
							อ่านเพิ่มเติม <i class="fa fa-angle-right" aria-hidden="true"></i>
						</a>
					</div>
				</label>
				<label for="s3" id="slide3" class="slide">
					<div class="image"></div>
					<div class="text">
						<h3></h3>
						<p></p>
						<a>
							อ่านเพิ่มเติม <i class="fa fa-angle-right" aria-hidden="true"></i>
						</a>
					</div>
				</label>
				<div id="arrow-prev" class="arrow arrow-prev">
					<i class="fa fa-play" aria-hidden="true"></i>
				</div>
				<div id="arrow-next" class="arrow arrow-next">
					<i class="fa fa-play" aria-hidden="true"></i>
				</div>
			</section>
		</div>
	</div>
</div>

<script src="../js/slider.js"></script>
